
html,
body {
    height: 100%;
}

.container 
{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url("images/ipad-632394_1920.jpg");
	background-size: cover;
	background-repeat:no-repeat;    
}
.container-box
{
	display:inline-block; 

	
}


